@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Ubuntu:ital,wght@0,400;1,300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  min-width: 100%;
  min-height: 100vh;
}

body {
  background: url('/images/ZigZag.png') no-repeat center;
  background-size: cover;
}

.container {
  background-color: #fff;
  width: 80%;
  min-width: 327px;
  height: 680px;
  margin: auto;
  margin-top: 150px;
  border-radius: 5px;
  box-shadow: 0px 40px 40px -28px #3c7861;
  position: relative;
  padding: 30px;
  text-align: center;
}

.container .close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.main {
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

.main .title {
  margin-top: 30px;
  color: #2f463d;
}

.main .content {
  font-family: 'Ubuntu', sans-serif;
  line-height: 26px;
  color: #828282;
  font-weight: 300;
  margin-top: 20px;
  font-size: 14px;
}

.menu_choice {
  display: flex;
  align-items: center;
  margin-top: 50px;
  line-height: 1.7rem;
  width: 100%;
  background-color: #f0fff5;
  border-radius: 5px;
}

.menu_choice .menu_content {
  text-align: left;
  padding-left: 15px;
  flex: 1;
  color: #2f463d;
}

.menu_content p {
  font-size: 14px;
}

.menu_choice a {
  padding-right: 15px;
  text-decoration: underline;
  color: #467a66;
  font-weight: bolder;
  font-size: 13px;
}

.action {
  margin-top: 40px;
  border: none;
  padding: 18px 40px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  background-color: #46a671;
  border-radius: 5px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
  transition: 0.2s ease-in all;
}

.action:hover {
  opacity: 0.8;
  cursor: pointer;
}
